python filter=lfs diff=lfs merge=lfs -text
Texts filter=lfs diff=lfs merge=lfs -text
poppler filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
setup.ps1 filter=lfs diff=lfs merge=lfs -text
tasks filter=lfs diff=lfs merge=lfs -text
worker.py filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
app.py filter=lfs diff=lfs merge=lfs -text
config.py filter=lfs diff=lfs merge=lfs -text
readme.pdf filter=lfs diff=lfs merge=lfs -text
run.bat filter=lfs diff=lfs merge=lfs -text
tesseract filter=lfs diff=lfs merge=lfs -text
tasks/bdd/metadonnee.duckdb filter=lfs diff=lfs merge=lfs -text
tasks/csv/métadonnées.csv filter=lfs diff=lfs merge=lfs -text
status.txt filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/help filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/presets filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/share filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/update-settings.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/CREDITS.fodt filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/LICENSE.html filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/NOTICE filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/license.txt filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/readmes filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/simpress.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/xmlreaderlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/binaryurplo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/bootstraplo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/dbplo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pcrlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/python3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/regview.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/scriptforge.pyi filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sdlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/juh.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/fundamental.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/intro-highres.png filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libcurl.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/nssckbi.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sbase.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/services filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/soffice.com filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/Argon2OptDll.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pythonloader.uno.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sduilo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/CoinMP.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/hsqldb.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/iolo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/lpsolve55.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pythonloaderlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/skialo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/smime3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/staroffice.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/calclo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libssl-3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pythonscript.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pyuno.pyd filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/scfiltlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/smdlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/ssl3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sweb.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/javavendors.xml filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/jvmaccesslo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sdraw.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/spsupp_x64.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/java_uno.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/juhx.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/minidump_upload.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/nss3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/soffice.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/storelo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/uno.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/updater.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/lcms2.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/log_uno_uno.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/proxyfaclo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/resource filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sal_textenclo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/scdlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unoinfo.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unopkgapp.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/etonyek.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pdfiumlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/scriptforge.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/shell filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unsafe_uno_uno.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/updchklo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/wizards filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/Engine12.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/classes filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/ifbclient.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/inprocserv.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/librdf.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/localedata_others.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/python.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/spsupp_x86.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/gengal.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/javaloaderlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/localedata_en.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/localedata_euro.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/softokn3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/swdlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/types filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/uno.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/oleautobridgelo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/opencltest.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/clewlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/i18nlangtag.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/introspectionlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libpq.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/reglo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/xpdfimport.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/cli_uno.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/invocadaptlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/jpipe.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libxmlsec-mscng.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libxmlsec.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libxslt.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/swuilo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/vbaswobjlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/epoxy.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libexslt.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/mscx_uno.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/namingservicelo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/odbcconfig.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/opencl filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pdfimportlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/raptor2.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/LanguageToollo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/PresentationMinimizerlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/intl filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/jumplistlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/migrationoo2lo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/odfgen.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sw_writerfilterlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/twain32shim.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/louno.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/purpenvhelper3MSC.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/reflectionlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sal3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/scalc.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/scuilo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unopkg.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/uuresolverlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/plds4.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/postgresql-sdbc-impllo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/javavmlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/scnlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sddlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unohelper.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/updater.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/version.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/intro.png filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libcrypto-3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/mswordlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/officebean.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/swriter.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/updatecheckuilo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/UAccCOM.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/bootstrap.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/nssdbm3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/setup.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/soffice.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/update_service.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/wpg.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/__pycache__ filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/cppu3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/icuuc78.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sqlite3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unopkg.bin filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/vbaobjlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/writerlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/deploymentgui.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/gpgmepp.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/icuin78.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/localedata_es.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/python-core-3.12.12 filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/pythonloader.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/quickstart.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/stocserviceslo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/migrationoo3lo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/msgbox.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/orcus.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/rasqal.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/redirect.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/smlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/vclplug_winlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/wps.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/mailmerge.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/spsupp_helper.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/JREProperties.class filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/jpipx.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/mergedlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/soffice_safe.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unopkg.com filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/access2base.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/orcus-parser.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/plc4.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/winaccessibility.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/affine_uno_uno.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/nspr4.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/services.rdb filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/soffice.bin filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/jdbclo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/WinUserInfoBelo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/clucene.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/freebl3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/jvmfwk3.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/jvmfwklo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/sclo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/smath.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/abplo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/officehelper.py filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/types.rdb filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/uno.ini filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/cppuhelper3MSC.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/icudt78.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/mar.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/revenge.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/salhelper3MSC.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/swlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/unoidllo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/gpgme-w32spawn.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/nssutil3.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/opengl filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/senddoc.exe filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/shlxthdl filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/invocationlo.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/libxml2.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/mwaw.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/python312.dll filter=lfs diff=lfs merge=lfs -text
tasks/libreOffice/program/wpd.dll filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
